*{
    margin: 0;
    padding: 0;
}
.cart-page
{
    width: 1345px;
    margin: 0px auto;
    overflow: hidden;
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: #FFFFFF;
    font-family: "pop-m";
}
.content{
    width: 1257px;
    height: 1084px;
    margin: 10px auto;
}

.card_product{
    width: 1256.11px;
    height: 523px;
    margin: 0 auto;
}
.nav_content{
padding-top:47px ;
}
.nav_content>div{
    font-family: 'pop-m';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    float: right;
    margin-bottom:23px ;
    
}

.clr{
    clear: both;
}
  
.divider
{
    width: 1256px; 
    height: 2px;
    background: #d7e2ec;
    border: 1px solid #F6F7F8;
  

}
.product{
    width: 1256px;
    height: 210px;
    display: flex;
    flex-direction: row;
 

}
.product_left{
display: flex;
flex-direction: row;
justify-content: start;
width: 60%;
height: 210px;
text-align: center;
}
.base{
    width: 23.62px;
    height: 22px;
    background: #FF6875;
    opacity: 0.2;
    border-radius: 50%;
    border: 1px solid #49070c;
    margin-top: 100px;
    margin: 100px 10px;


  
}
.base img{
    width: 23.62px;
    height: 22px;
    background: #FF6875;
    
}
.shoe img {
    width: 137.85px;
    height: 94px;
    border-radius: 7px;
    padding-top: 62px;
    padding-bottom:53.37px ;
}
.text{
    /* margin-top: 100px; */
    margin: 90px 15px;
    font-family:  'pop-m' sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #262626;
}
.tex{
    /* margin-top: 100px; */
    font-family:  'pop-m' sans-serif;
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
color: #262626;
}

/* o`ng tomoni */
.product_right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 210px;
    text-align: center;
    }
    .buttons{
        /* margin-top: 100px; */
        margin: 80px 1px;
        width: 124px;
        height: 46px;
        background-color: #F6F7F8;
    }
    .buttons button{
        width: 30%;
        height: 100%;
        border: 1px solid #F6F7F8;
        background-color: #F6F7F8;
    }
/* content bottom qismi */
    .content_bottom{
        width: 1256px;
        height: 556.47px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
    
    }
    .content_bottom_left{
        width: 50%;
        height: 100%;
    }
    .inp{
        width: 370px;
        height: 60px;
        border: 1px solid #F1F2F3   ;
        float: left;
        padding-left: 5px; 
        margin: 90px 0px;
        
    }
    .inp>input{
        width: 252px;
        height: 100%;
        border: none;
        text-align: left;
        opacity: 0.5;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #262626;
        
    }

    .inp>button{
        width: 114px;
        height: 60px;
        background-color: #33A0FF;
        border: none;
        color: #fff;
        line-height: 27px;
        font-weight: 500;
        font-size: 18px;
    }




    .content_bottom_right{
        width: 50%;
        height: 100%;
    }
    .check_out{
        width: 377px;
        height: 310px;
        margin: 90px auto;

    }
    .check_out>.paket{
        width: 377px;
        display: flex;
        flex-direction: row;

    }
    .check_out>.paket>div{
        width: 50%;
    }
    .check_out>.paket>.d2{
        text-align: end;
        line-height: 35px;
    }
    .check_out>button{
        width: 100%;
        height: 60px;
        color: #FFFFFF;
        background-color: #33A0FF;
        border: none;
    }
.check_out>button>text{
font-size: 18px;
line-height: 27px;

}
.check_out>.paket h3{
font-size: 18px;
line-height: 27px;
color: #262626;
font-weight: 400;
font-style: normal;
margin-bottom: 15PX;
}
.check_out>.paket h1{
font-size: 30px;
line-height: 45px;
color: #22262A;
font-weight: 500;
font-style: normal;
margin: 25px 5px;
}




/* footer qismi */
/* responsive */
@media screen and (max-width: 480px){

.divider{
    display: none;
}
.nav_content>div{
    float: none;
}
.nav_content{
    text-align: left;
    width: 100%;
    margin-left: 20px;
    float: none;
}
.tex{
    float: none !important;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.tex:first-child(1){
    margin-right: 15px !important;
}
.tex:hover{
    background-color: #33A0FF;
    color: #d7e2ec;
    width: 150px;
    border-radius: 15px;
    font-size: 16px;
}
.cart-page{
    width: 100%;
}
.content{
    width: 100%;
}
.inp button{
    width: 100%;
    margin-top: 30px;
}



}
@media screen and (max-width: 361px){

.product_left p{
    font-size: 14px;
}


}