<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.landing_page__navigation {
    min-width: 100%;
    height: 600px;
    background-color: var(--blue)
}

.container{
    width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;
  }

  .landing_page__container {
      display: flex;
  }
  
.container .box.one{
    padding: 150px 5px 0px 35px;
}

.box.one .details .topic{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
}

.box.one .details .topic h2 {
    font-weight: 600;
    font-size: 1.5em;
    text-transform: capitalize;
}

.box.one .details p{
    color: var(--text-color);
    font-size: 1.1em;
    font-weight: 400;
    padding: 1.2em 0 0.5em 0;
}
.box.one .details a {
    color: var(--text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.details {
    position: relative;
}
.details a:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    bottom: -3px;
    left: 0;
    background-color: var(--text-color);
}
.container .box.two .image{
    position: relative;
    right: 0;
    top: 0;
    height: 450px;
    width: 600px;
}
.image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container .box.two .image-box{
    position: relative;
    text-align: right;
    right: 0;
    bottom: 50px;
}

/* card uchun stillar */

.landing_page__advantages {
    margin-bottom: 6em;
}

.advantages_cards {
    display: flex;
}

.advantage_card {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 5em;
}

.advantage_card i{
    color: var(--red);
    font-size: 3em;
}

.advantage_card h2 {
    padding: 1.5em 0 0.4em;
    text-transform: uppercase;
    font-weight: 600;
}

.advantage_card p {
    font-size: 0.8em;
}


.menu_name {
    display: flex;
    justify-content: center;
}

.menu_name h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8em;
}

.features_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_card .feature__image {
    width: 70%;
    padding: 2em;
}

.feature_card .feature__image img{
    width: 100%;
}

.feature_card .feature__text {
    padding: 0 4em 0 0;
}

.feature_card span {
    color: #ccc;
    text-transform: capitalize;
}

.feature_card .feature__text h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5em;
}

.feature_card .feature__text p {
    font-size: 0.8em;
}

.landing_page__features {
    margin-bottom: 6em;
}

.featured__products {
    margin-bottom: 4em;
}

.featured_cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured_card {
    display: flex;
}

.featured_image {
    width: 40%;
}

.featured_image img {
    width: 100%;
}

.featured_card .featured_text {
    padding: 0 1em;
}

.featured_card .featured_text p {
    text-transform: capitalize;
}

.featured_card .featured_text .featured_stars {
    padding: 0.7em 0;
}

.featured_card .featured_text span {
    margin-right: 0.4em;
}

.featured_card .featured_text .red {
    color: var(--red);
}

.featured_card .featured_text .discount {
    color: #C1C8CE;
}

.input_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.input_box input {
    width: 350px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input_box input, button{
    border: 1px solid var(--blue);
    padding: 10px 20px;
}

.input_box button {
    background-color: var(--blue);
    color: var(--text-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



@media screen and (max-width: 476px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .landing_page__container {
        display: block;
    }

    .box.one .details .topic{
        font-size: 2.5em;
    }
    .container .box.one{
        padding: 50px 5px 0px 35px;
    }

    .box.one .details .topic h2 {
        font-size: 1em;
    }

    .box.one .details p{
        font-size: 1.1em;
        padding: 1.5em 0 1em 0;
    }

    .container .box.two .image{
        height: 300px;
        width:300px;
    }

    .container .box.two .image-box{
        bottom: 70px;
        padding-left: 60px;
    }

    .advantage_card {
        margin-bottom: 3em;
    }

    /* card uchun stillar */

    .landing_page__advantages {
        margin-bottom: 2em;
    }

    .advantages_cards {
        display: block;
        margin-top: 4em;
    }

    .features_cards {
        display: block;
    }

    .feature_card {
        margin-bottom: 2em;
    }

    .feature_card .feature__image {
        width: 70%;
        padding: 2em;
    }

    .menu__title {
        margin-bottom: 3em;
    }

    .featured__products {
        margin-bottom: 4em;
    }

    .featured_cards {
        display: block;
    }

    .featured_card {
        padding: 1em 2em;
    }

    .input_box {
        margin-bottom: 3em;
    }

    .input_box input {
        width: 220px;
    }

=======
.intro {
  position: relative;
  z-index: 1;
  margin-bottom: 329px;
  background-image: url(../assets/landingPageBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__description {
  max-width: 573px;
  padding: 258.73px 0 166.51px 0;
}

.intro__title {
  font-family: "Poppins", "Arial", "san-serif";
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

.intro__time{
  display: none;
  padding: 8px 10px 8px 11px;
  font-family: "Poppins", "Arial", "san-serif";
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.5px;
  color: #223263;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.intro__column{
  display: none;
  font-family: "Poppins", "Arial", "san-serif";
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.intro__bottomElements{
  display: none;
}

.intro__elements {
  position: absolute;
  z-index: 2;
}

.intro__list {
  position: absolute;
  z-index: 2;
  top: -85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 5px;
}

.intro__item {
  width: 418px;
  
  background-image: url(../assets/blackBag.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro__item:nth-child(2) {
  background-image: url(../assets/yellowLineShoe.png);
  /* padding-bottom: 25px; */
}

.intro__item:nth-child(3) {
  position: relative;
  z-index: 1;
  background-image: url(../assets/redShoe.png);
}

.intro__elementBox{
  padding: 29px 22px 0 53px;
}

.intro__elementBox--active{
  padding-bottom: 224px;
}

.intro__productDescription {
  max-width: 202px;
}

.intro__productDescription--second {
  position: relative;
  max-width: 170px;
}

.intro__productDescription--third {
  max-width: 170px;
}

.intro__productTitle {
  margin: 0;
  margin-bottom: 180px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #223263;
}

.intro__productTitle--second {
  margin-bottom: 219px;
}

.intro__productTitle--third {
  margin-bottom: 18px;
}

.intro__cost {
  position: relative;
  z-index: 1;
}

.intro__cost--second {
  text-align: center;
}

.intro__previousPrice {
  margin-right: 8px;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #9098B1;
}

.intro__costDiscount {
  margin-right: 68px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
  background-color: transparent;
  color: #FB7181;
}

.intro__newPrice {
  position: absolute;
  z-index: 2;
  top: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40BFFF;
  text-decoration: none;
}

.intro__newPrice:nth-child(2) {
  top: calc(50% - 25px);
  left: calc(50% + 115px);
}

.intro__newPrice--third {
  position: absolute;
  z-index: 2;
  top: 305px;
  left: 255px;
}

.best-seller__title {
  margin: 0;
  margin-bottom: 26px;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
  color: #22262A;
}

.categories{
  display: none;
}

.flashSale{
  display: none;
}

.best-seller__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 23.5px;
  padding: 0;
  list-style: none;
}

.best-seller__item + .best-seller__item {
  margin-left: 70px;
}

.best-seller__link {
  color: #373737;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: color , border-color 0.5s ease;
  transition: color  0.5s ease;
}

.best-seller__link:hover {
  color: #40BFFF;
  border-color: #40BFFF;
}

.best-seller__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.best-seller__subitem {
  position: relative;
  z-index: 1;
  width: 298px;
  border: 2px solid #f6f7f8;
  margin-bottom: 35.5px;
}

.best-seller__subitem:hover .best-seller__page{
  opacity: 0.95;
  transition: opacity 0.5s ease;
}

.best-seller__subitem + .best-seller__subitem {
  margin-left: 29px;
  
}

.best-seller__subitem:nth-child(5){
  margin-left: 0;
  /* margin-top: 35.5px; */
}

.best-seller__product-img {
  width: 298px;
  height: 275px;
  margin-bottom: 14.77px;
}


.best-seller__box {
  padding: 0 39.33px 16.5px;
}

.best-seller__page{
  position: absolute;
  z-index: 2;
  display: flex;
  width: 114px;
  margin: 0 auto;
  padding: 82px 83px 86px 82px;
  background-color: #fff;
  justify-content: space-between;
  opacity: 0;
  top: 27px;
  left: 11px;
}
.best-seller__subimg{
  cursor: pointer;
}

.best-seller__subtitle {
  margin: 0;
  margin-bottom: 6.31px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.5px;
}

.best-seller__mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  list-style: none;
}

.best-seller__mark-item + .best-seller__mark-item {
  margin-left: 13.66px;
}

.best-seller__mark-item:nth-child(5) {
  margin-right: 30px;
}

.best-seller__newPrice {
  margin-right: 13px;
  font-weight: bold;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.5px;
  color: #40BFFF;
  text-decoration: none;
}

.best-seller__previousPrice {
  margin-right: 8px;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #9098B1;
}

.best-seller__costDiscount {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FB7181;
  background-color: transparent;
}
.best-seller__bottom-span{
  display: block;
  text-align: center;
}

.best-seller__bottom-link{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #373737;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.5s ease ;
}



.best-seller__bottom-link:hover{
  color: #40BFFF;
  border-color: #40BFFF;
}

@media only screen and (max-width:376px){
  
  .container{
    width: 343px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .intro{
    /* display: none; */
    background-image: none;
    margin-bottom: 0;
  }
  
  .intro__description {
    max-width: 209px;
    margin-bottom: 16px;
    padding: 32px 110px 32px 24px;
    background-image: url(../assets/landingPageBackground-mobile.png);
    background-repeat: no-repeat;
  }
  
  .intro__title{
    margin-bottom: 29px;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.5px; 
    color: #FFFFFF;
  }
  
  .intro__time{
    display: inline-block;
  }
  
  .intro__column{
    display: inline-block;
  }
  
  .intro__bottomElements{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  .intro__list{
    display: none;
  }
  
  .intro__subitem{
    color: #EBF0FF;
  }
  
  .intro__subitem--active{
    color: #40BFFF;
  }
  
  .intro__subitem + .intro__subitem{
    margin-left: 8px;
  }
  
  
  .categories{
    display: block;
  }
  
  .categories__description{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  .categories__title{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
    
  }
  
  .categories__titleLink{
    text-decoration: none;
    color: #40BFFF;
  }
  
  .categories__list{
    display: flex;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    list-style: none;
  }
  
  .categories__item{
    width: 70px;
  }
  
  .categories__item + .categories__item{
    margin-left: 21px;
  }
  
  .categories__itemImg{
    margin-bottom: 8px;
  }
  
  .categories__subtitle{
    margin: 0;
    font-size: 10px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.5px;
    color: #9098B1;
  }
  
  .flashSale{
    display: block;
  }
  
  .flashSale__description{
    display: flex;
    justify-content: space-between;
  }
  
  .flashSale__title{
    margin: 0 0 12px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
  }
  
  .flashSale__link{
    text-decoration: none;
    color: #40BFFF;
  }
  
  .flashSale__list{
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
    padding: 0;
    list-style: none;
  }
  
  .flashSale__item{
    padding: 16px;
    border: 1px solid #EBF0FF;
    border-radius: 5px;
  }
  
  .flashSale__itemImg{
    margin-bottom: 8px;
  }
  
  .flashSale__summary{
    width: 106px;
  }
  
  .flashSale__subtitle{
    margin: 0 0 8px 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #223263;
  }
  
  .flashSale__newPrice{
    font-weight: bold;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #40BFFF;
  }
  
  /* .flashSale__cost{
    
  } */
  
  .Flashsale__previousPrice{
    margin-right: 8px;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: #9098B1;
  }
  
  .Flashsale__costDiscount{
    font-weight: bold;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0.5px;
    background-color: transparent;
    color: #FB7181;
  }
  
  .best-seller{
    display: none;
  }
  
>>>>>>> remotes/origin/zohid-landing-page
}